body,
* {
  font-size: 14px;
}

#root {
  width: 100%;
}
.nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: #2a9134;
  color: white;
}

.sidebar {
  position: fixed;
  width: 250px;
  top: 60px;
  bottom: 0;
}

.container {
  padding-left: 250px;
}

.button button {
  background-color: #f7b205;
  color: white;
  border-radius: 5px;
}

.table-auto {
  width: 100% !important;
}

tr th,
td {
  border: 1px solid silver !important;
}

th {
  text-align: start;
}
